
.w3{
  width: 350px
}

textarea{ /*copiado de la página de CAH*/
	text-align: left; 
  height: auto; 
  min-height: 112px; 
  margin-bottom: 25px; 
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  color: ;
  font-weight: bold;
  background: ;
  border: 1px solid ;
  text-align: center;
  outline: 0;
  padding: 15px;
  font-size: 18px;
  line-height: 18px;
  -webkit-appearance: none;
}

button{ /*copiado de la página de CAH*/
	position: relative;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  color: ;
  outline: none;
  border: 2px solid ;
  background-color: white;
  white-space: nowrap;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-box-shadow: inset 0 -4px 0 0 ;
  -webkit-box-shadow: inset 0 -4px 0 0 ;
  box-shadow: inset 0 -4px 0 0 ;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  font-size: 18px;
  line-height: 18px;
  padding: 14px 20px 18px;
  -moz-transition: width 0.2s ease, color 0.3s ease, border-color 0.3s ease;
  -o-transition: width 0.2s ease, color 0.3s ease, border-color 0.3s ease;
  -webkit-transition: width 0.2s ease, color 0.3s ease, border-color 0.3s ease;
  transition: width 0.2s ease, color 0.3s ease, border-color 0.3s ease;
}

h2{
  margin: 0px;
}

button:active{
  -moz-box-shadow: none; 
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-top: 4px;
  padding-bottom: 14px;
}

button:disabled{
  background-color: #ddd;
  color: ;
  -moz-box-shadow: ;
  -webkit-box-shadow: ;
  box-shadow: ;
  /*border: ;*/
}
	
body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 18px; /*En el juego original, es 26px*/
	background-color: #eee;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

table{
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.white{
	text-align: left;
	background-color: white;
	color: black;
	border-radius: 20px; /*En el juego original, es 10px*/
	padding: 25px; 
	width: 63mm; /*En el juego original, es 62mm*/
	height: 88mm; /*En el juego original, es 90mm*/
	position: relative;
	-webkit-box-shadow: 7px 7px 10px 0px rgba(0,0,0,0.43);
	-moz-box-shadow: 7px 7px 10px 0px rgba(0,0,0,0.43);
	box-shadow: 7px 7px 10px 0px rgba(0,0,0,0.43);
}

.black{
	text-align: left;
	background-color: black;
	color: white;
	border-radius: 20px;
	padding: 25px; 
	width: 63mm;
	height: 88mm;
	position: relative;
	-webkit-box-shadow: 7px 7px 10px 0px rgba(0,0,0,0.43);
	-moz-box-shadow: 7px 7px 10px 0px rgba(0,0,0,0.43);
	box-shadow: 7px 7px 10px 0px rgba(0,0,0,0.43);
}

.light{
  font-weight: 100;
}

.bold{
  font-weight: bold;
}

img.logo{
	width: 60px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

span.logo{
	width: 65mm;
  position: absolute;
  bottom: 6.5mm;
  left: 16.5mm/*60px*/;
  font-size: 12px;
}

txt.logo{
  font-size: 11px;
  position: absolute;
  bottom: 26px;
  left: 45px;
  transform: rotate(20deg);
}

/* Animations (if used) */

.rainbow {
  /*display: inline-block;*/
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-name: rainbow;
}

@keyframes rainbow {
  0%{
  color:  #F90000;
  }
  5%{
  color:  #F94700;
  }
  10%{
  color:  #F98E00;
  }
  15%{
  color:  #F9D600;
  }
  20%{
  color:  #D6F900;
  }
  25%{
  color:  #8FF900;
  }
  30%{
  color:  #47F900;
  }
  35%{
  color:  #00F900;
  }
  40%{
  color:  #00F947;
  }
  45%{
  color:  #00F98E;
  }
  50%{
  color:  #00F9D5;
  }
  55%{
  color:  #00D6F9;
  }
  60%{
  color:  #008FF9;
  }
  65%{
  color:  #0048F9;
  }
  70%{
  color:  #0000F9;
  }
  75%{
  color:  #4600F9;
  }
  80%{
  color:  #8E00F9;
  }
  85%{
  color:  #D500F9;
  }
  90%{
  color:  #F900D7;
  }
  95%{
  color:  #F9008F;
  }
  100%{
  color:  #F90048;
  }
}

